@model IEnumerable<string>

<div >
   
    <div class="row">
        @{
            foreach (var item in Model)
            {


                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gallery-item">
                    <div class="gallery-img-container box-shadow">
                        <img class="gallery-item-img" src="@Url.Content(item)" />
            </div>
                    </div>

                }

            }
</div>
</div>